node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types
deployments/

#Hardhat files
cache
artifacts

# graph-node 
data/ 

# Subgraph
./subgraph/generated
./subgraph/build

# Matchstick
./subgraph/tests/.*
