node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types
deployments/
data/ 
barren-wuffet-subgraph/

#Hardhat files
cache
artifacts

# Subgraph
./subgraph/generated
./subgraph/build

# Matchstick
./subgraph/tests/.*
